* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
  }

  /*TÓPICOS DO CABEÇALHO*/
  nav a {
    color: rgb(254, 254, 254);
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 21px;
  }
  
  .telabaixeoapp {
    position: relative;
    margin-bottom: 60px;

  }
  .telabaixeoapp img {
    width: 100%;
    height: 800px;
  }
  .tela-text {
    position: absolute;
    top: 17%;
    left: 8%;
    color: white;
    max-width: 550px;
  } 
  .tela-text h1 {
    font-size: 42px;
    margin-bottom: 20px;
  }
  .tela-text p {
    font-size: 25px;
    margin-bottom: 220px;
  }
  .tela-text button {
    background-color: #002d3d;
    border: none;
    color: white;
    padding: 25px 40px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 40px;
    font-size: 25px;
    position: absolute;
    left: 20%;
    
  }
  
  /*LOGO*/
  .logo {
    font-size: 40px;
    font-weight: bold;
  }
  .logo span {
    color: #00b3ff;
  }

header {
    background-color: #002d3d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 60px;
  }

  /*FUNDO*/
  .sobre {
    padding: 40px 0px;
    background-color: #ffffff;
    margin-bottom: 35px;
    width: 100%;
    height: 600px;
    position: relative;
    top: 10%;

  }

  /*O PRODUTO CONSISTE*/
  .sobre h2 {
    font-size: 30px;
    color: #ffffff;
    position: center;
    left: 8%;
    background-color: #002d3d;
    padding: 14px 25px;
    border-radius: 20px;
    max-width: 590px;
    text-align: center;
  }
  .partes {
    display: flex;
    justify-content: right;
    gap: 60px;
    position: relative;
    margin-bottom: 40px;
    right: 20%;
    top: 20%;
    margin-top: 20px;
  }
  .parte {
    background-color: #002d3d;
    color: white;
    border-radius: 27px;
    width: 300px;
    padding: 24px;
    text-align: center;
  }
  .parte img {
    max-width: 500px;
    margin-bottom: 20px;
    border-radius: 20px;
    position: absolute;
    right: 8px;
  }
  .parte h3 {
    font-size: 18px;
    margin-bottom: 50px;
  }
  .parte button {
    background-color: white;
    color: #002d3d;
    border: none;
    padding: 12px 24px;
    font-weight: bold;
    border-radius: 19px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 20px;

  }

/*FOOTER*/
footer {
  background-color: #002d3d;
  color: white;
  padding: 40px 20px;
  text-align: left;
}
footer h2 {
  font-size: 40px;
  position: relative;
  left: 44.5%;
  max-width: 10px;
}
.contato {
  display: flex;
  justify-content: center;
  gap: 40px;    
}
.item {
  max-width: 300px;
  position: relative;
  left: 0%;
  margin-top: 50px;
}
.item i {
  margin-bottom: 110px;
}
.item p {
  margin: 30px 0;
  position: relative;
  right: 14%;
  font-size: 20px;
}
.item .info {
  margin-top: 10px;
  font-weight: bold;
}