* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
  }

  /*cabeçalho*/
  header {
    background-color: #002d3d;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 60px;
    width: 100%;
  }
  
  /*LOGO*/
  .logo {
    font-size: 40px;
    font-weight: bold;
  }
  .logo span {
    color: #00b3ff;
  }
  
  /*TÓPICOS DO CABEÇALHO*/
  nav a {
    color: rgb(254, 254, 254);
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 21px;
  }
  
  .telabaixeoapp {
    position: relative;
    margin-bottom: 60px;

  }
  .telabaixeoapp img {
    width: 100%;
    height: 650px;
    filter: brightness(60%);
  }
  .tela-text {
    position: absolute;
    top: 17%;
    left: 8%;
    color: white;
    max-width: 550px;
  } 
  .tela-text h1 {
    font-size: 42px;
    margin-bottom: 20px;
  }
  .tela-text p {
    font-size: 25px;
    margin-bottom: 120px;
  }
  .tela-text button {
    background-color: #002d3d;
    border: none;
    color: white;
    padding: 25px 40px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 40px;
    font-size: 25px;
    position: absolute;
    left: 20%;
    
  }
  
  /*SOBRE O PRODUTO*/
  .sobre {
    padding: 40px 30px;
    text-align: left;
  }
  /*frase*/
  .sobre h2 {
    font-size: 28px;
    color: #ffffff;
    position: absolute;
    left: 5%;
    top: 775px;
    background-color: #002d3d;
    padding: 14px 25px;
    border-radius: 20px;
  
  }
  .partes {
    display: flex;
    justify-content: center;
    gap: 60px;
    position: relative;
    margin-bottom: 40px;
  }
  .parte {
    background-color: #002d3d;
    color: white;
    border-radius: 27px;
    width: 300px;
    padding: 24px;
    text-align: center;
  }
  .parte img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 20px;
  }
  .parte h3 {
    font-size: 18px;
    margin-bottom: 50px;
  }
  .parte button {
    background-color: white;
    color: #002d3d;
    border: none;
    padding: 12px 24px;
    font-weight: bold;
    border-radius: 19px;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  /*FOOTER*/
  footer {
    background-color: #002d3d;
    color: white;
    padding: 40px 20px;
    text-align: left;
  }
  footer h2 {
    font-size: 40px;
    position: relative;
    left: 44.5%;
    max-width: 10px;

  }
  .contato {
    display: flex;
    justify-content: center;
    gap: 40px;    
  }
  .item {
    max-width: 300px;
    position: relative;
    left: 0%;
    margin-top: 50px;
  }
  .item i {
    margin-bottom: 110px;

  }
  .item p {
    margin: 30px 0;
    position: relative;
    right: 14%;
    font-size: 20px;


  }
  .item .info {
    margin-top: 10px;
    font-weight: bold;
  }

  /* CONTATO */
.contato-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.contato-icons a {
    font-size: 24px;
    color: white;
    transition: 0.3s;
}

.contato-icons a:hover {
    color: #145681;
}

/* RESPONSIVIDADE */
@media (max-width: 500px) {
    .container {
        width: 90%;
    }
}
